<%-include('../header')%>
        <h1>Nova categoria</h1>
        <form action="/publicacoes/editar/<%=publicacao.id%>" method="post">
            <div class="form-group">
                <label for="publicacao">Editar publicação</label>
                <input type="text" name="publicacao" id="publicacao" class="form-control" value="<%=publicacao.publicacao%>">
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-outline">
            </div>
        </form>
 <%-include('../footer')%>